<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>多要素認証</title>

		<link rel="shortcut icon" href="../favicon.ico" type="image/vnd.microsoft.icon">
		<link rel="icon" href="https://vtmacs003b.github.io/favicon.ico" type="image/vnd.microsoft.icon">
		<link rel="apple-touch-icon-precomposed" href="../favicon-152.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../favicon-144.png">

		<meta property="og:title" content="多要素認証">
		<meta property="og:type" content="website">
		<meta property="og:locale" content="ja_JP">
		<meta property="og:site_name" content="多要素認証">
		<meta property="og:url" content="https://vtmacs003b.github.io/multi-factor/">
		<meta property="og:image" content="https://vtmacs003b.github.io/multi-factor/password.png">
		<meta property="og:description" content="パスワードをチェックできるサイトです。">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" integrity="sha384-l4UPAMHGzl7zwogLW4nOwaU2XTk6oiM1jhCRQstZEndoIiA2I5bg6fST3wzBSRBD" crossorigin="anonymous">
		<link href="https://vtmacs003b.github.io//multi-factor/style.css" rel="stylesheet"> 
		<!--<link href="style.css" rel="stylesheet">-->

	</head>
	<body>
	<header>
	<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #e3f2fd;">
		<div class="container-fluid">
			<a href="../index.html" class="navbar-brand">
			<img src="../favicon.png" width="25" height="25" class="d-inline-block align-top" alt="M">
			多要素認証について</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-header">
				<ul class="navbar-nav">
				<li class="nav-item"><a href="#words" class="nav-link"><i class="bi bi-key"></i>使える文字</a></li>
				<li class="nav-item"><a href="#time" class="nav-link"><i class="bi bi-stopwatch"></i>組み合わせと解読時間</a></li>
				<li class="nav-item"><a href="#check" class="nav-link"><i class="bi bi-shield-check"></i>パスワードチェック</a></li>
				<li class="nav-item"><a href="#calc" class="nav-link"><i class="bi bi-calculator"></i></i>計算回数について</a></li>
				</ul>
			</div>
		</div>
	</nav>
	</header>

	<article id="app">
	<div class="container">
		<div class="bg-light p-4 p-sm-5 my-4 rounded">
		<!--
			<img src="https://vtmacs003b.github.io/password/password.png" class="img-fluid">
		-->
			<h1 class="display-4">多要素認証</h1>
			<p class="lead">
				多要素認証について
			</p>
			<!--
			<a class="btn btn-primary btn-lg" href="#words" role="button"><i class="bi bi-key"></i>使える文字</a>&nbsp;
			<a class="btn btn-primary btn-lg" href="#time" role="button"><i class="bi bi-stopwatch"></i>組み合わせと解読時間</a>&nbsp;
			<a class="btn btn-primary btn-lg" href="#check" role="button"><i class="bi bi-shield-check"></i>パスワードチェック</a>&nbsp;
			<a class="btn btn-primary btn-lg" href="#calc" role="button"><i class="bi bi-calculator"></i>計算回数について</a>&nbsp;
		-->
		</div>
	</div>

	<hr>

	<div id="words" class="container">
		<h2><i class="bi bi-key-fill"></i>多要素認証（スマホ）シミュレーター<i class="bi bi-key-fill"></i></h2>
		<div class="row">
			<div class="col-md-6" id="PC1">
				ログイン画面
				<div class="login">
					<form class="row align-items-center text-center"  v-show="login1" >
						<div class="col-12 ">
						<h2>ログイン</h2>
						</div>
						<div class="col-12 form-label-group">
							<label for="userID" class="form-label">ユーザーID</label>
							<div class="input-group">
								<p><input type="email" class="form-control" id="userID" placeholder="name@example.com" name="email" v-model="email"></p>
								<p v-if="isInValidEmail" class="error">メールアドレスを入力してください。</p>
							</div>
						</div>
						<div class="col-12 form-label-group">
						<label for="inputPassword" class="form-label">パスワード</label>
							<div class="input-group">
								<p><input type="password" id="floatingPassword" class="form-control" placeholder="パスワード" name="pass" v-model="pass" ></p>
								<p v-if="isInValidPass" class="error">パスワードは4文字以上です。</p>
							</div>
						</div>
						<div class="col-12">
						<!-- Button trigger modal -->
						<span v-on:click="open1" class="btn btn-primary">ログイン</span>
						</div>
						<div class="col-12">
						<p>
						※これはあくまでもシミュレーターなので、ユーザーIDは任意のメールアドレス（実在しなくてもメールアドレスの形式になっていれば動作します）、パスワードは４文字以上の半角文字が入力されれば、ログインできます。
						</p>
						<p>
						※最初は、任意のユーザーIDとパスワードが入力された状態になっています。<span class="danger">赤い文字</span>が出るとログインできませんので、注意してください。
						</p>
						<p>
						※入力された文字列が実際に外部に発信されることはありません。
						</p>
						</div>
					</form>

					<div class="row" v-show="login2">
						<div class="col-12">
						<h2 class="text-center">コードの確認中</h2>
						<p class="text-center">
							<div class="input-group">
							<input type="text" size="1"  maxlength="1" class="form-control" v-model="code1" ref="codeR1" >
							<input type="text" size="1"  maxlength="1" class="form-control" v-model="code2" ref="codeR2" >
							<input type="text" size="1"  maxlength="1" class="form-control" v-model="code3" ref="codeR3" >
							&nbsp; &nbsp;
							<input type="text" size="1"  maxlength="1" class="form-control" v-model="code4" ref="codeR4" >
							<input type="text" size="1"  maxlength="1" class="form-control" v-model="code5" ref="codeR5" >
							<input type="text" size="1"  maxlength="1" class="form-control" v-model="code6" ref="codeR6" >
							</div>
						</p>
						<p>確認コードを含むテキストメッセージをご利用のデバイスに送信しました。続けるにはコードを入力してください。</p>
						<p>
						コードが届かない場合は、
						<a v-on:click="open1" class="reload">コードを再送信</a>
						してください。
						</p>
						</div>
					</div>

					<div class="row" v-show="login3">
						<div class="col-12">
						<h2 class="text-center">コードの確認完了</h2>
						<div class="text-center">
							<p class="display-5">
							ログイン<br>できました！
							</p>
							<p>
							<a onclick="window.location.reload(true);" class="reload">画面をもとに戻す（再読込）</a>
							</p>
						</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-6">
				スマホの画面
			<div class="SP1">
				<div id="modal1" v-show="show1" class="row modal_contents col-12">
					<!-- Modal Window -->
					<div class="col-12">
						<!-- モーダルウィンドウの背景 -->
						<div v-on:click="close" class="modal_contents_bg"></div>
						<!--   モーダルウィンドウの中身   -->
						<div class="modal_contents_wrap">
							 <p class="text-center">ログインが要求されました。</p>
							 <p class="text-center"><strong>{{ email }} </strong></p>
							 <p class="text-center">ご利用の ユーザーID がデバイス {{ userAgent }} にログインするために使用されています。
							<!--   モーダルウィンドウを閉じる   -->
							<p class="border-top border-2 text-center mt-0 mb-0 p-0">
	        				 	<span v-on:click="close" class="modal_close_btn pt-2 pe-4">許可しない</span>
    	    				 	<span v-on:click="open2" class="modal_open_btn pt-2 ps-4 pb-2 border-start border-2"><strong>許可する</strong></span>
        				 	</p>
						</div>
					 </div>
				</div>
				<div id="modal2" v-show="show2" class="row modal_contents col-12">
					<!-- Modal Window -->
					<div class="col-12">
						<!-- モーダルウィンドウの背景 -->
						<div v-on:click="close" class="modal_contents_bg"></div>
						<!--   モーダルウィンドウの中身   -->
						<div class="modal_contents_wrap">
							 <p class="text-center">確認コード</p>
							 <p class="text-center">ログインするには、 Webブラウザでこの確認コードを入力してください。</p>
							 <p class="text-center display-4"><strong>{{ code }}</strong></p>
							 <p class="text-center">他のユーザーと共有しないでください。</p>
							 <p class="text-center">我々がこのコードについて電話で問い合わせたり SMS を送信したりすることはありません。
							<!--   モーダルウィンドウを閉じる   -->
        				 	<p v-on:click="close" class="modal_close_btn text-center border-top border-2 pt-2 pb-2"><strong>OK</strong></p>
						</div>
					 </div>
				</div>


				<div class="iphone">
					<div class="row notch">
						<div class="col-4" v-show="clock">
							{{ clock }} <i class="bi bi-cursor-fill"></i>
						</div>
						<div class="col-4">
							&nbsp;
						</div>
						<div class="col-4 text-end">
							<i class="bi bi-reception-3"></i> <i class="bi bi-wifi"></i> <i class="bi bi-battery-half"></i>
						</div>
					</div>

					<div class="row align-items-center text-center">
						<div id="faketime" class="col-3 item">
							<i class="bi bi-camera-video-fill"></i>
						</div>
						<div class="col-3 item">
							<div id="day">{{ day }} </div>
							<div id="calendar">{{ calendar }}</div>
						</div>
						<div class="col-3 item">
							<img src="https://vtmacs003b.github.io//multi-factor/picture.png" width="50">
						</div>
						<div id="camera" class="col-3 item">
							<i class="bi bi-camera-fill"></i>
						</div>
					</div>
					<div class="row align-items-center text-center">
						<div class="col-3 item-name">
							FakeTime
						</div>
						<div class="col-3 item-name">
							カレンダー
						</div>
						<div class="col-3 item-name">
							写真
						</div>
						<div class="col-3 item-name">
							カメラ
						</div>
					</div>

					<div class="row align-items-center text-center">
						<div id="mail" class="col-3 item">
							<i class="bi bi-envelope-fill"></i>
						</div>
						<div id="memo" class="col-3 item">
							<i class="bi bi-file-earmark-text-fill"></i>
						</div>
						<div class="col-3 item">
							<i class="bi bi-list-ul"></i>
						</div>
						<div id="clock" class="col-3 item">
							<div id="analog"></div>
						</div>
					</div>
					<div class="row align-items-center text-center">
						<div class="col-3 item-name">
							メール
						</div>
						<div class="col-3 item-name">
							メモ
						</div>
						<div class="col-3 item-name">
							リマインダー
						</div>
						<div class="col-3 item-name">
							時計
						</div>
					</div>

					<div class="row align-items-center text-center">
						<div class="col-3 item">
							<i class="bi bi-tv-fill"></i>
						</div>
						<div id="cast" class="col-3 item">
							<i class="bi bi-broadcast-pin"></i>
						</div>
						<div id="cart" class="col-3 item">
							<i class="bi bi-cart4"></i>
						</div>
						<div id="map" class="col-3 item">
							<i class="bi bi-geo-alt-fill"></i>
						</div>
					</div>
					<div class="row align-items-center text-center">
						<div class="col-3 item-name">
							TV
						</div>
						<div class="col-3 item-name">
							キャスト
						</div>
						<div class="col-3 item-name">
							Apps
						</div>
						<div class="col-3 item-name">
							マップ
						</div>
					</div>

					<div class="row align-items-center text-center">
						<div id="heart" class="col-3 item">
							<i class="bi bi-heart-fill"></i>
						</div>
						<div id="wallet" class="col-3 item">
							<i class="bi bi-wallet2"></i>
						</div>
						<div id="gear" class="col-3 item">
							<i class="bi bi-gear-fill"></i>
						</div>
						<div id="map" class="col-3 no-item">
							&nbsp;
						</div>
					</div>
					<div class="row align-items-center text-center">
						<div class="col-3 item-name">
							ヘルスケア
						</div>
						<div class="col-3 item-name">
							ウォレット
						</div>
						<div class="col-3 item-name">
							設定
						</div>
						<div class="col-3 item-name">
							&nbsp;
						</div>
					</div>

					<div class="row align-items-center text-center">
						<div id="map" class="col-3 no-item">
							&nbsp;
						</div>
						<div id="map" class="col-3 no-item">
							&nbsp;
						</div>
						<div id="map" class="col-3 no-item">
							&nbsp;
						</div>
						<div id="map" class="col-3 no-item">
							&nbsp;
						</div>
					</div>
					<div class="row align-items-center text-center">
						<div class="col-3 item-name">
							&nbsp;
						</div>
						<div class="col-3 item-name">
							&nbsp;
						</div>
						<div class="col-3 item-name">
							&nbsp;
						</div>
						<div class="col-3 item-name">
							&nbsp;
						</div>
					</div>

					<div id="search" class="row align-items-center text-center">
						<div class="col-12 item-name">
						<span id="searchbox"><i class="bi bi-search"></i>検索</span>
						</div>
					</div>

					<div id="dock" class="row align-items-center text-center">
						<div id="tel" class="col-3 item">
							<i class="bi bi-telephone-fill"></i>
						</div>
						<div id="compass" class="col-3 item">
							<i class="bi bi-compass-fill"></i>
						</div>
						<div id="chat" class="col-3 item">
							<i class="bi bi-chat-fill"></i>
						</div>
						<div id="music" class="col-3 item">
							<i class="bi bi-music-note-beamed"></i>
						</div>
					</div>

				</div><!-- iphone -->
			</div><!-- SP1 -->
			</div>
		</div>
	</div><!-- #words -->

	</article>

	<footer class="bd-footer text-muted">
	<div class="container-fluid text-center">
		<hr>
		<p>
			Copyright © 2001- MACS-Project All Rights Reserved.
		</p>
	</div>
	</footer>

	<script src="https://unpkg.com/vue@3.2.36"></script>
	<script src="https://vtmacs003b.github.io//multi-factor/clock.js"></script>
	<script>
	Vue.createApp({
		data() {
			return {
				clock: "00:00", // 時計の文字列
				day: "日", // 曜日の文字列
				calendar: "12",// 日にちの文字列
				//デフォルトはモーダルウィンドウを閉じる
				show1: false,
				show2: false,
				// ログイン画面は見えるようにする
				login1: true,
				login2: false,
				login3: false,
				// ユーザーIDの確認
				email: "name@example.com",
				pass: "1234",
				email_valid: false,
				pass_valid: false,
				userAgent: window.navigator.userAgent.toLowerCase(),
				code: "000 000",
				num: [],
				code1: "",
				codeR1: "",
				code2: "",
				codeR2: "",
				code2: "",
				codeR2: "",
				code3: "",
				codeR3: "",
				code4: "",
				codeR4: "",
				code5: "",
				codeR5: "",
				code6: "",
				codeR6: "",
				flag: [false, false, false, false, false, false],
			}
		},
		created() {
			// 時計の秒針を進める
			this.tick();
			// コードを生成する
			this.makeCode();
		},
		methods:{
			tick(){// 現在時刻を取得する関数
				const date = new Date();  // Dateオブジェクトを作る
				let h = date.getHours();  // 時
				let m = date.getMinutes();// 分
				// let s = date.getSeconds();// 秒
				let d = date.getDate(); // 日
				let day_n = date.getDay(); // 曜日（数字）
				let day_array = ["日","月","火","水","木","金","土"]
				
				if(h < 10) h = " " + h;   // 10未満であれば頭に0を付ける
				if(m < 10) m = "0" + m;
				// if(s < 10) s = "0" + s;
				this.clock = h + ":" + m ; // + ":" + s;// 文字列を結合する
				this.calendar= d;
				this.day = day_array[day_n];

				// 100ミリ秒経ったら1度だけ実行する
				setTimeout(()=>{
					this.tick();// tick関数を実行する
				}, 100);
			},
			// 確認コードを生成
			makeCode(){
				let num = this.num;
				for(let i=0; i<6; i++){
					num[i] = Math.floor(Math.random() * 10);
					if(num[i] == 10 || num[i] == 0) num[i] = "0";
				}
				this.code = String(num[0]) + num[1] + num[2] + " " + num[3] + num[4] + num[5];
			},
			// ログインボタンを押すとモーダルウィンドウ１を開く
			open1: function(){
				// ユーザーID とパスワードもバリデーションが真なら
				if(this.email_valid && this.pass_valid) {
					// モーダルウインドウを開く
					this.show1 = true;
					this.show2 = false;
					// ログイン画面を切り替える
					this.login1 = false;
					this.login2 = true;
				}
			},
			// モーダルウインドウ１で「許可する」とモーダルウインドウ２を開く
			open2: function(){
				this.show1 = false
				this.show2 = true
			},
			//モーダルウィンドウを閉じる
			close: function(){
				this.show1 = false
				this.show2 = false
			},
			// コードが合っているかチェック
			isFlagCheck() {
				if(this.code1 == this.num[0]) { this.flag[0] = true; }
				if(this.code2 == this.num[1]) { this.flag[1] = true; }
				if(this.code3 == this.num[2]) { this.flag[2] = true; }
				if(this.code4 == this.num[3]) { this.flag[3] = true; }
				if(this.code5 == this.num[4]) { this.flag[4] = true; }
				if(this.code6 == this.num[5]) { this.flag[5] = true; }
				if(this.flag[0] && this.flag[1] && this.flag[2] && this.flag[3] & this.flag[4] && this.flag[5]) {
					this.login3 = true;
					this.login2 = false;
					this.login1 = false;
				}
			}
		},
		watch: {
			// コードの入力を監視
			code1:  function(v) { if(v.length >= 1) { this.$refs.codeR2.focus() } this.isFlagCheck() },
			code2:  function(v) { if(v.length >= 1) { this.$refs.codeR3.focus() } this.isFlagCheck() },
			code3:  function(v) { if(v.length >= 1) { this.$refs.codeR4.focus() } this.isFlagCheck() },
			code4:  function(v) { if(v.length >= 1) { this.$refs.codeR5.focus() } this.isFlagCheck() },
			code5:  function(v) { if(v.length >= 1) { this.$refs.codeR6.focus() } this.isFlagCheck() },
			code6:  function(v) { this.isFlagCheck() },
		},
		computed: {
			isInValidEmail(){
				//メールアドレスとして判定される文字列と記号の組み合わせを定数化
				const reg = new RegExp(/^[A-Za-z0-9]{1}[A-Za-z0-9_.-]*@{1}[A-Za-z0-9_.-]{1,}\.[A-Za-z0-9]{1,}$/);
				//指定した組み合わせになっていなかった場合判定を返す。
				if(reg.test(this.email))  {
					this.email_valid = true;
				} else {
					this.email_valid = false;
				}
				return !reg.test(this.email);	
			},
			isInValidPass(){
				//文字列が4文字以上かチェックする
				if(this.pass.length > 3) {
					this.pass_valid = true;
				} else {
					this.pass_valid = false;
				}
				return this.pass.length < 4;
			},
		}
	}).mount('#app')

	</script>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90731510-1', 'auto');
  ga('send', 'pageview');

	</script>
	</body>
</html>
