@charset "UTF-8";

/* ログイン画面 */
.login {
  display: block;
  width: 372px;
  padding: 10px;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  color: #000;
  background: #fff;
}
.SP1 {
  position: relative;
  width: 396px;
  height: 632px;
}
/* スマホの画面 */
.iphone {
  position: absolute;
  top: 0px;
  left:  0px;
  z-index: 10;
  display: block;
  width: 372px;
  padding: 10px;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  color: #ffffff;
  background: no-repeat url("https://vtmacs003b.github.io//multi-factor/background.png");
}
.iphone .row {
  margin: 0 5px 0 5px;
}
#dock  {
  border-radius: 30px;
  background-color:  rgba(255,255,255,0.3);
}
.item  {
  display: block;
  width: 50px;
  height: 50px;
  margin: 20px 17px 0px 17px;
  padding: 0;
  border-radius: 10px;
  color: #000000;
  font-size: 2em;
  background-color:  #ffffff;
  opacity: 150%;
}
#dock .item  {
  margin: 10px 17px 10px 17px;
  padding: 0;
}
.no-item  {
  display: block;
  width: 50px;
  height: 50px;
  margin: 20px 17px 0px 17px;
  padding: 0;
  opacity: 0;
}
.item:hover {
  cursor: grab;
  filter: brightness(0.6);
}
.item:active {
  cursor: grabbing;
}
.item-name  {
  display: block;
  width: 50px;
  height: 20px;
  margin: 5px 17px 0px 17px;
  padding: 0;
  border-radius: 10px;
  color: #ffffff;
  font-size: 0.5em;
}
.item-name:hover {
  cursor: default;
}
.notch:hover {
  cursor: default;
}
#camera {
  color: #000000;
  font-size: 2.2em;
  background: linear-gradient(#eee, #999);
}
#faketime {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00ee00, #00aa00);
}
#faketime-text {
  color: #ffffff;
  background: linear-gradient(#fff, 65%, #009900, #006600, #003300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#day {
  font-size: 0.3em;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#calendar {
  margin-top: -10px;
  padding-top:0px;
}
#mail {
  color: #ffffff;
  font-size: 2.1em;
  background: #0081f2;
  background: linear-gradient(dodgerblue, powderblue);
  //text-shadow:2px 2px 10px #999;
}
#memo {
  color: #ffd700;
  font-size: 2.1em;
  background-color:  #fff;
}
#clock {
  background-color:  #000;
}
#analog{
    height: 50px;
    position: relative;
    width: 100%;
    border-radius: 10px;
}
#TV {
  color: #ffffff;
  background: #000000;
  background: linear-gradient(#666, #000);
}
#cast {
  color: #ffffff;
  font-size: 2.1em;
  background-color:  #8a2be2;
}
#apps {
  color: #ffffff;
  font-size: 2.7em;
  font-family: 'Shantell Sans', cursive;
  background:  #0081f2;
  background: linear-gradient(powderblue, royalblue);
}
#apps-text {
  position: relative;
  top: -7px;
}
#map {
  color: #0081f2;
  font-size: 2em;
  background-color:  #ffffff;
}
#heart {
  color: #ff0000;
  font-size: 1.5em;
  background-color:  #fff;
}
#wallet {
  color: #ffd700;
  background: #000000;
  background: linear-gradient(#666, #000);
}
#gear {
  color: #000000;
  font-size: 2.3em;
  background: linear-gradient(#eee, #999);
}
#gear i {
  position: relative;
  top: -3px;
}
#tel {
  color: #ffffff;
  font-size: 2.2em;
  background-color:  #00ee00;
  background: linear-gradient(#66ff66, #00cc00);
}
#compass {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0081f2;
  font-size: 2.5em;
  background:  #fff;
}
#compass-text {
  background: linear-gradient(225deg, lightskyblue, royalblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#chat {
  color: #ffffff;
  font-size: 2.2em;
  background-color:  #00ee00;
  background: linear-gradient(#66ff66, #00cc00);
}
#music {
  color: #ffffff;
  font-size: 2.1em;
  background-color:  #ee0000;
  background: linear-gradient(#f99, #ee0000);
}
#search div {
    margin: 10px auto 10px auto;
    display: block;
    border-radius: 10px;
    background-color:  rgba(255,255,255,0.3);
}
#searchbox {
  position: relative;
  top: 4px;
}
#search div:hover {
  cursor: grab;
  background-color:  rgba(255,255,255,0.5);
}
#search div:active {
  cursor: grabbing;
}
/* モーダルウィンドウを開く要素 */
.modal_open_btn {
  display: inline-block;
  cursor: pointer;
  padding-top: 30px;
}
/* モーダルウィンドウ要素 */
#modal1 {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal_contents {
  z-index:100;
  width: 100%;
  height: 100%;
  width: 100%;
}
/* モーダルウィンドウの背景要素 */
.modal_contents_bg {
  position: relative;
  z-index:50;
  border-radius: 10px;
  background: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
}
/* モーダルウィンドウの中身*/
.modal_contents_wrap {
  position: absolute;
  top: 10%;
  left: 15%;
  z-index:100;
  border-radius: 10px;
  color: #000;
  background: rgba(255,255,255,.8);
  width: 65%;
  margin: auto;
  padding-top: 1em;
}
/* モーダルウィンドウを閉じる要素 */
.modal_close_btn {
  color: #1e90ff;
  cursor: pointer;
  margin: 0;
}
.modal_open_btn {
  color: #1e90ff;
  cursor: pointer;
  margin: 0;
}
.error {
    color: red;
    font-weight: bold;
}
.reload {
	cursor: pointer;
}